
.about {
    background-color: #aa87c2;
    padding: 20px;
    text-align: center;
  }
  
  .about h2 {
    text-justify: left;
    color: #292424;
    font-size: 24px;
  }
  
  .about p {
    color: #383232;
    font-size: 16px;
  }
